*{
    margin: 0;
    padding:0;
    font-family: arial, Helvetica, sans-serif;
}
div{
    height: 100px;
    width: 100px;
    
    box-sizing: border-box;
    /* we have to include border-box value because on adding padding or margin size of box does't increases */

    border: 1px solid red;
    padding: 20px;
    margin: 10px;

    display: inline;
    /* 1.display same line
    2. take width as per content width
    3.we can't add padding/margin/height/width (can add margin/padding horizontal)*/
    display: inline-block;
    /* Inline-block behaves like inline but in which we can add margin/padding/height/width */

}

span{
    background-color: red;
    padding: 50px;
    margin: 90px;
    display: block;
    /* 1.display in new line
    2. take total width
    3.we can add padding/margin/height/width */
}